data/chrominfo.snp6.hg19.RData
data/AnnotationData/Encode_replication_timing.tsv
.gitignore
data/AnnotationData/gap_hg19.txt
data/AnnotationData/chrominfo.snp6.txt
data/AnnotationData/filteredAscat.txt
data/AnnotationData/gc.content.txt
data/AnnotationData/hg19.chrom.sizes.txt
data/AnnotationData/mateo_hg19_chromsizes.txt
data/AnnotationData/repeats
data/AnnotationData/wgEncodeUwRepliSeqGm12878WaveSignalRep1.bw
core.8521
core.9666
core.32869
.gitignore
core.34374
.gitignore
data/chrominfo.snp6.txt
data/Encode_replication_timing.tsv
data/filteredAscat.txt
data/gap_hg19.txt
data/gc.content.txt
data/hg19.chrom.sizes.txt
data/mateo_hg19_chromsizes.txt
data/repeats
data/wgEncodeUwRepliSeqGm12878WaveSignalRep1.bw
.gwf/update
scripts/.gwf/update
scripts/.gwf/logs/create_features.stderr
scripts/.gwf/logs/create_features.stdout
scripts/modpath.py
scripts/__pycache__/modpath.cpython-38.pyc
steps/test_features_mateo_10.txt
data/gc_content.txt
scripts/__pycache__/workflow.cpython-38.pyc
scripts/__pycache__/workflow.cpython-38.pyc
scripts/__pycache__/feature_func.cpython-38.pyc
scripts/__pycache__/create_feature_file.cpython-38.pyc
scripts/__pycache__/feature_func.cpython-38.pyc
scripts/__pycache__/feature_func.cpython-38.pyc
scripts/.gwf/slurm-backend-tracked.json
scripts/__pycache__/feature_func.cpython-38.pyc
data/TCGA-02-0001.segments.raw.txt
scripts/filteredoff.txt
scripts/temp.py
scripts/.gwf/logs/CreateFeatures.stderr
scripts/.gwf/logs/CreateFeatures.stdout
scripts/.gwf/logs/UpdateAscat.stderr
scripts/.gwf/logs/UpdateAscat.stdout
scripts/__pycache__/feature_func.cpython-38.pyc
steps/discrete.txt
data/filteredAscatRaw.txt
figures/optimalalpha_10.pdf
